<div class="title-container">
  <h1>Well Hiya!</h1>
  <h2>Did I pass the Quiz?</h2>

  <!-- Button trigger modal -->
  <div class="row">
    <div class="col text-center">
      <button type="button" class="btn btn-primary btn-lg mb-5" data-toggle="modal" data-target="#myModal">
        Add a Yoga Class
      </button>
    </div>
  </div>

  <!--   Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">Add a New Yoga Class</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <%= simple_form_for @yogaclass do |f| %>
          <div class="modal-body">
            <%= f.input :name %>
            <%= f.input :description %>
            <%= f.input :time %>
            <%= f.input :teacher %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <%= f.submit "Submit Class", class: 'btn btn-primary' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

